/*-----------------------------------------------------------------------------------
	blackberg.scss
-----------------------------------------------------------------------------------*/

$brand-primary: #006154;    	// Green
$brand-secondary: #A88F4D;	    // Brass
$brand-tertiary: #7259EF;	    // Ultraviolet
$brand-warning: #FF994D;		        // Orange
$brand-success: #31D158;		        // Green


.blackberg-group {

    .brand-primary { color: $brand-primary; }
    .brand-secondary { color: $brand-secondary; }
    .brand-tertiary { color: $brand-tertiary; }
    .brand-warning { color: $brand-warning; }
    .brand-success { color: $brand-success; }

    .hero {
        position: relative;

        &__background {
            background: radial-gradient(132.89% 132.89% at 91.11% 15.56%, #00362E 0%, #006154 63%, #B5D334 100%);
         
        }

        &__background-divider {
            width: 100%;
            min-height: 1px;
            z-index: 5;
        }


        &__content {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: relative;
            z-index: 10;
        }

        &__content-element-1 {

            @include media-breakpoint-up(sm) {
                
            }

            @include media-breakpoint-down(sm) {
                
            }
        }



    }


}

