/*-----------------------------------------------------------------------------------
	roll20.scss
-----------------------------------------------------------------------------------*/

$brand-primary: #4E30A1;    	// Royal Purple
$brand-secondary: #A88F4D;	    // Brass
$brand-tertiary: #7259EF;	    // Ultraviolet
$brand-warning: #FF994D;		        // Orange
$brand-success: #31D158;		        // Green


.quorum {

    .brand-primary { color: $brand-primary; }
    .brand-secondary { color: $brand-secondary; }
    .brand-tertiary { color: $brand-tertiary; }
    .brand-warning { color: $brand-warning; }
    .brand-success { color: $brand-success; }

    .hero {

        &__background {
			background: rgb(34,31,84);
			background: linear-gradient(133deg, rgba(34,31,84,1) 8%, rgba(83,48,161,1) 77%);
            
            width: 100%;
            position: relative;
            overflow: hidden;    

            &-element {
             position: absolute;
             top: 50%;
             left: 50%;
             z-index: 5;

            @include media-breakpoint-up(md) {   
                width: 100%;   
                transform: scale(1) translate(-50%,-50%);
            }
            @include media-breakpoint-down(md) {
                width: 100%;
                transform: scale(1.25) translate(-50%,-50%);
            }
            @include media-breakpoint-down(sm) {
                width: 100%;
                transform: scale(2) translate(-50%,-50%);
            }

                #globe-svg {
                    opacity: .04;

                    .pulsing-dot-1 {
						fill: #fff;
                        //animation: colorChange 1s 1s linear infinite;
                        //animation: jurk 4s 2s linear infinite alternate;
                    }
                    .pulsing-dot-2 {
						fill: #fff;
                        //animation: colorChange 3s 1s linear infinite;
                        //animation: jurk 4s 2s linear infinite alternate;
                    }
                    .pulsing-dot-3 {
						fill: #fff;
                        //animation: colorChange 2s 2s linear infinite;
                        //animation: jurk 4s 2s linear infinite alternate;
                    }

                }
            }
        }

        &__background-divider {
            width: 100%;
            min-height: 1px;
            z-index: 5;
        }


        &__content {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: relative;
            z-index: 10;
        }

        &__content-element-1 {

            @include media-breakpoint-up(sm) {
                
            }

            @include media-breakpoint-down(sm) {
                
            }
        }



    }


    .card {

        &__featured-project {
            border: 0;

            &.primary { box-shadow: inset 0 -3px 0px $brand-primary; }
            &.secondary { box-shadow: inset 0 -3px 0px $brand-secondary; }
            &.tertiary { box-shadow: inset 0 -3px 0px $brand-tertiary; }
            &.warning { box-shadow: inset 0 -3px 0px $brand-warning; }
            &.success { box-shadow: inset 0 -3px 0px $brand-success; }
        }
    }

}

.fuzzy-spheres{
    margin-bottom: 0;
    width: 100%;
    z-index: 1;
    li{
        position: absolute;
        width: 1000px;
        height: 1000px;
        border-radius: 50%;
        display: inline-block;
        
        filter: blur(300px);

        &:nth-child(1){
            top: -40%;
            left: -20%;
            background-color: $brand-tertiary;
            z-index: 2;            
            animation: jurk 4s 5s linear infinite alternate;
        }
        &:nth-child(2){
            bottom: -80%;
            right: -15%;
            background-color: $brand-secondary;
            z-index: 1;
            animation: jurk 4s 2s linear infinite alternate;
        }
    }
}

#primary-menu ul li:hover>a, #primary-menu ul li.current>a {
    color: $brand-primary;
}
