
$brand-primary: #006154;    	        // Green
$brand-primary-light: #00C7AC;    	
$brand-primary-lightest: #00C7AC;    	

$brand-secondary: #b5d334;	            // Electric Green
$brand-secondary-light: #d8e69a;	    
$brand-secondary-lightest: #eaf3d5;	    

$brand-tertiary: #253551;               // Navy
$brand-tertiary-light: #456297;
$brand-tertiary-lightest: #A0B3D4;

.blackberg-group {

    .brand-primary { color: $brand-primary; }
    .brand-secondary { color: $brand-secondary; }
    .brand-tertiary { color: $brand-tertiary; }

    .bg-primary { background-color: $brand-primary; }
    .bg-primary-light { background-color: $brand-primary-light; }
    .bg-primary-lightest { background-color: $brand-primary-lightest; }

    .bg-secondary { background-color: $brand-secondary; }
    .bg-secondary-light { background-color: $brand-secondary-light; }
    .bg-secondary-lightest { background-color: $brand-secondary-lightest; }
    
    .bg-tertiary { background-color: $brand-tertiary; }
    .bg-tertiary-light { background-color: $brand-tertiary-light; }
    .bg-tertiary-lightest { background-color: $brand-tertiary-lightest; }    

}